ClipVideo/ClipVideo.xcodeproj/project.xcworkspace/xcuserdata/liwenxiu.xcuserdatad/UserInterfaceState.xcuserstate
ClipVideo/ClipVideo.xcodeproj/xcuserdata/liwenxiu.xcuserdatad/xcschemes/xcschememanagement.plist
